# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Build / output
dist/
build/
.out/
coverage/

# Environment / secrets
config/
.env
.env.local
.env.*.local
.env.production
.env.test
secrets/
*.key
*.pem

# System / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# OS generated
*.swp

# Misc
.sass-cache/
.cache/
